paper-slider {
  --paper-header-panel-standard-container: {
    border: 1px solid gray;
  };

  --paper-header-panel-cover-container: {
    border: 1px solid gray;
  };

  --paper-header-panel-waterfall-container: {
    border: 1px solid gray;
  };

  --paper-header-panel-waterfall-tall-container: {
    border: 1px solid gray;
  };
}
paper-header-panel {
  --paper-header-panel-shadow: {
      height: 6px;
      bottom: -6px;
      box-shadow: inset 0px 5px 6px -3px rgba(0, 0, 0, 0.4);
  };
}

iron-list .row{
  height: 80px;
  padding: 16px;

}
body{
  margin: 0px;
}
paper-card{
  height: 300px;
}
.drawer-button{
  width: 200px;
  text-align: left;
}
.poly-button paper-button{
  padding 10px;
  margin: 10px;
}
.background-red{
  background: red;
}
.background-green{
  background: green;
}
.background-blue{
  background: blue;
}
.background-pink{
  background: pink;
}
.background-default{
  background: #3F51B5;
  color: white;
}

.fab{
  border-radius: 50%;
  margin:0;
  padding: 20px;
}

.material{
  position:relative;
  color:white;
  margin: 20px auto;
  height:400px;
  width:500px;
  background:#f45673;
  
}

.ripple{
  overflow:hidden;
}

.ripple-effect{
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: white;
  left: 100px;
  top: 100px;
  margin-left: -25px;
  margin-top: -25px;

    
  animation: ripple-animation 2s;
}

@keyframes ripple-animation {
    from {
      transform: scale(1);
      opacity: 0.4;
    }
    to {
      transform: scale(100);
      opacity: 0;
    }
}