paper-slider {
  --paper-header-panel-standard-container: {
    border: 1px solid gray;
  };

  --paper-header-panel-cover-container: {
    border: 1px solid gray;
  };

  --paper-header-panel-waterfall-container: {
    border: 1px solid gray;
  };

  --paper-header-panel-waterfall-tall-container: {
    border: 1px solid gray;
  };
}
paper-header-panel {
  --paper-header-panel-shadow: {
      height: 6px;
      bottom: -6px;
      box-shadow: inset 0px 5px 6px -3px rgba(0, 0, 0, 0.4);
  };
}

iron-list .row{
  height: 80px;
  padding: 16px;

}
body{
  margin: 0px;
}
paper-card{
  height: 300px;
}
.drawer-button{
  width: 200px;
  text-align: left;
}
.poly-button paper-button{
  padding 10px;
  margin: 10px;
}
.background-red{
  background: red;
}
.background-green{
  background: green;
}
.background-android-green{
  background: #a4c639;
}
.background-auburn{
  background:#a52a2a;
}
.background-azure{
  background: #007fff;
}
.background-black{
  background: #000000;
}
.background-boston-university-red{
  background: #cc0000;
}
.background-brass{
  background: #b5a642;
}
.background-burnt-orange{
  background: #cc5500;
}
.background-cafe-au-lait{
  background: #a67b5b;
}
.background-citrine{
  background: #e4d00a;
}
.background-coquelicot{
  background: #ff3800;
}
.background-blue{
  background: blue;
}
.background-pink{
  background: pink;
}
.background-raspberry{
  background: #e30b5d;
}
.background-amber{
  background: #ffbf00;
}
.background-default{
  background: #3F51B5;
  color: white;
}
.container {
  width: 80%;
  margin: 50px auto;
}
@media (min-width: 481px) {
  .container {
    width: 400px;
  }
}